.statistics{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
   
}

.statistics__item{
    padding-bottom: 5px;
    text-align: center;
    color: rgb(3, 85, 236);
    list-style-type: none;
    font-size: large;
    font-weight: 520;
}